@font-face { 
	font-family: Oxygen; 
	src: url('Oxygen-Regular.ttf');
} 
@font-face {
	font-family: Oxygen-Light;
	src: url('Oxygen-Light.ttf');
}
@font-face { 
	font-family: Oxygen-Bold; 
	src: url('Oxygen-Bold.ttf');
}